
on: push

jobs:
  tests:
    runs-on: ubuntu-18.04
    container:
      image: ghcr.io/unittestbot/utbotcpp/base_env:02-02-2022
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      env:
        UTBOT_ALL: /utbot_distr
        UTBOT_INSTALL_DIR: /utbot_distr/install
        GRPC_PATH: /utbot_distr/install
        CLI_PATH: /utbot_distr/cli
        DOCKER_TAG: 02-02-2022
        ARTIFACT_DIR: utbot-artifact
      options: --user utbot
    steps:
      # - name: Checkout repository
      #   uses: actions/checkout@v2
      - name: runs
        run: |
            env
            pwd
            ls -lah