name: wwwwww
on:
  push:
    branches:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: set version
        run: |
          export VERSION=$(date '+%Y.%-m').$GITHUB_RUN_NUMBER
          echo $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: build UTBot
        run: |
          echo $VERSION
