name: wwwwww
on:
  push:
    tags:
      - '[1-9][0-9][0-9][0-9].[1]?[0-9].[0-9]+'
    branches:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: set version
        run: |
          re="^[1-9][0-9]{3}\.[1]?[0-9]\.(0|[1-9][0-9]*)$"
          if [[ $GITHUB_REF_NAME =~ $re ]]; then 
            export VERSION=$GITHUB_REF_NAME
            echo "ARTIFACT_NAME=release-$VERSION" >> $GITHUB_ENV
          else
            export VERSION=$(date '+%Y.%-m').$GITHUB_RUN_NUMBER
            echo "ARTIFACT_NAME=dev-$VERSION" >> $GITHUB_ENV
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          export RUN_INFO=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
          echo "RUN_INFO=RUN_INFO" >> $GITHUB_ENV
          echo $GITHUB_REF_NAME
          echo ${{ env.ARTIFACT_NAME }}
